SERVER_PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/passflow
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

JPA_DDL_AUTO=update

SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest

APP_RABBIT_EXCHANGE=user-exchange
APP_RABBIT_ROUTING_KEY=user.registered
APP_RABBIT_QUEUE=user-registration-queue

JWT_SECRET=change_me
